name: Ask renovate to rerun-tests

on:
  pull_request:
    types: [labeled]

permissions:
  pull-requests: write # Required for editing PR details (title, body, labels, etc.)

jobs:
  edit-pr:
    if: contains(github.event.pull_request.labels.*.name, 'rebase')
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Edit Pull Request
        env:
          GH_TOKEN: ${{ github.token }}
          TITLE: ${{ github.event.pull_request.title }}
          PR: ${{ github.head_ref }}
          REBASING: ${{ startsWith(github.event.pull_request.title, 'rebase!') }}
        run: |
          gh pr edit "${PR}" --repo "${GITHUB_REPOSITORY}" --remove-label "rebase"
          if [[ "${REBASING}" = "false" ]]; then
            echo "Requesting rebase..."
            #echo gh pr edit "${PR}" --repo "${GITHUB_REPOSITORY}" --title "rebase! ${TITLE}"
            gh pr edit "${PR}" --repo "${GITHUB_REPOSITORY}" --title "rebase! ${TITLE}"
          fi
